*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    font-family: roboto, sans-serif;
}

html, body{
    display: flex;
    background-color: #1c1c1c;
    flex-direction: column;
    height:100vh;
}

nav{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('assets/Hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

nav h1{
    font-size: 25px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size:13px
}

.input-wrapper {
    position: relative;
    bottom: 20px;
    width: 271px;
    left: 50%;
    transform: translateX(-50%);
}

.input {
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    background-color:#4b4b4b ;
    border:none;
    padding: 15px 15px 15px 35px;
    width: 100%;
}

.input-icon {
    color: #ffffff;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.input-btn{
    border-radius: 0 9px 9px 0;
    color: #ffffff;
    position: absolute;
    border:none;
    background-color:#2e2e2f;
    width: 70px;
    height: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.movies{
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content-display{
    text-align: center;
}

.movies h2{
    color:#4b4b4b
}

.movies h3{
    color:#4b4b4b;
    padding:0 10px
}

.fa-film{
    font-size: 80px;
    color: #4b4b4b
}

.movie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom:20px
}

.movie img{
    height: 350px;
    width:250px;
    object-fit: cover;
}

.movie .description-wrapper{
    padding: 5px 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    color:white
}

.movie .title-wrapper{
    display: flex;
    justify-content: center;
    gap:10px
}

.title-wrapper h3{
    color:white;
    padding:0;
}

.movie .genre-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px
}

.addTo-el{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background-color: white;
    border:none;
    align-self: center;
}

.fa-plus{
    margin-right: 0;
    color: black;
}

.movie-plot{
    padding-top:10px
}

#spinner{
    display: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
content: " ";
display: block;
width: 64px;
height: 64px;
margin: 8px;
border-radius: 50%;
border: 6px solid rgb(202, 202, 202);
border-color: rgb(201, 201, 201) transparent rgb(202, 202, 202) transparent;
animation: lds-dual-ring 1.2s linear infinite;
}

.delete-from{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background-color: white;
    border:none;
    align-self: center;
}

.fa-minus{
    color:black
}



@keyframes lds-dual-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

/* wishlist styles */

#backToSearch-btn{
    display: flex;
    margin-top: 20px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    gap:10px;
    text-decoration:none;
    user-select: none;
}

#backToSearch-btn span{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background-color: white;
    border:none;
    align-self: center;
}